.jumbotron{
  width: 105%;
  position: relative;
  background-color: #db9525;
}
body{
  background-color: #a5a1a0;
}
#about{
  border: thin;
  height: 100vh;
  width: 25%;
  background-color: green;
  top: 0px;
  left: 15px;
}
